In [5]:
import os
os.getcwd()

'C:\\Users\\ngait\\OneDrive\\Documents\\Martha Personal\\Business Plan September 2025\\LuxeGlow Analytic\\Golf Club Management'

In [8]:
import pandas as pd

members = pd.read_csv("output/members.csv")
members.head()

,MemberID,Gender,Age,MembershipType,JoinDate,AnnualFee,HomeClub,Unnamed: 7
0,1,Male,35,Full,29/11/2023,3500,Limuru Golf Club,NaN
1,2,Male,50,Full,26/07/2024,3500,Limuru Golf Club,NaN
2,3,Male,62,Corporate,29/04/2023,5000,Karen Country Club,NaN
3,4,Female,29,Weekday,06/02/2024,2200,Limuru Golf Club,NaN
4,5,Male,57,Full,09/01/2023,3500,Muthaiga Golf Club,NaN

In [10]:
import os
os.getcwd()

'C:\\Users\\ngait\\OneDrive\\Documents\\Martha Personal\\Business Plan September 2025\\LuxeGlow Analytic\\Golf Club Management'

In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

members = pd.read_csv("output/members.csv")
revenue = pd.read_csv("output/revenue.csv")
engagement = pd.read_csv("output/engagement.csv")
status = pd.read_csv("output/member_status.csv")

print("Revenue loaded:", revenue.shape)

ModuleNotFoundError: No module named 'matplotlib'

In [12]:
revenue["TotalSpend"] = (
    revenue["MembershipFee"] +
    revenue["ProShopSpend"] +
    revenue["F&BSpend"] +
    revenue["CoachingRevenue"]
)

NameError: name 'revenue' is not defined

In [4]:
## Revenue Contribution by Membership Category

Â£We evaluate which membership tier drives the highest value for the club.
# Merge member type into revenue
rev_membership = revenue.merge(members[["MemberID", "MembershipType"]], on="MemberID")

# Revenue by membership type
rev_type = rev_membership.groupby("MembershipType")["TotalSpend"].sum().sort_values(ascending=False)

print("Revenue by Membership Type:")
display(rev_type)

# Plot
rev_type.plot(kind="bar")
plt.title("Total Revenue by Membership Type")
plt.xlabel("Membership Type")
plt.ylabel("Total Revenue")
plt.show()

NameError: name 'revenue' is not defined